POSTGRES_DB=observability
POSTGRES_USER=grafana
POSTGRES_PASSWORD=grafana
POSTGRES_PORT=5432
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
EVENT_BATCH_SIZE=25
EVENT_INTERVAL_SECONDS=2
